<div th:replace="content/header.html"></div>

<div class="container">
    <div class="row">
        <h3>Department</h3>
    </div>
    <div class="row">
        <div class="col-sm-3"><label>Name:</label></div>
        <div class="col-sm-9"><input type="text" readonly class="form-control" th:value="${department.name}"></div>
    </div>
    <div class="row">
        <h3>Employees</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee: ${department.employees}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.age}"></td>
                    <td><a class="btn btn-primary" th:href="@{/employee(id=${employee.id})}">View</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="content/footer.html"></div>
