<div th:replace="content/header.html"></div>

<div class="container">
    <div class="row">
        <h3>Employee</h3>
    </div>
    <div class="row">
        <div class="col-sm-3"><label>Name:</label></div>
        <div class="col-sm-9"><input type="text" readonly class="form-control" th:value="${employee.name}"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><label>Age:</label></div>
        <div class="col-sm-9"><input type="text" readonly class="form-control" th:value="${employee.age}"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><label>Department:</label></div>
        <div class="col-sm-9"><input type="text" readonly class="form-control" th:value="${employee.department.name}"></div>
    </div>
    <div class="row">
        <h3>Phones</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="phone: ${employee.phones}">
                    <td th:text="${phone.number}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="content/footer.html"></div>
