<div th:replace="content/header.html"></div>

<form method="POST" action="/login">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><label>Username:</label></div>
            <div class="col-sm-8"><input class="form-control" type="text" name="username"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><label>Password:</label></div>
            <div class="col-sm-8"><input class="form-control" type="password" name="password"></div>
        </div>
        <div class="row">
            <div class="col-sm-12"><button class="btn btn-primary" type="submit">Login</button></div>
        </div>
    </div>
</form>

<div th:replace="content/footer.html"></div>
